<!DOCTYPE html>
<html lang="en" class="default">
    <head>
        {% include 'meta.html' %}
        <title>FourCode</title>
        <link href="{{url_for('static',filename='css/main.css')}}"
            rel="stylesheet" />
    </head>
    <body>
        <div
            class="flex flex-col h-screen overflow-auto bg-secondary">
            {% include 'navbar.html' %}
            <div
                class="flex-grow overflow-y-auto rounded-t-lg bg-background">
                <div class="flex justify-center">
                    <p class="text-7xl">ABOUT</p>
                </div>
            </div>
        </div>
    </body>
</html>