<!DOCTYPE html>
<html lang="en" class="default">
    <head>
        {% include 'meta.html' %}
        <title>FourCode</title>
        <link href="{{url_for('static',filename='css/main.css')}}"
            rel="stylesheet" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.2/p5.min.js"
            integrity="sha512-1YMgn4j8cIL91s14ByDGmHtBU6+F8bWOMcF47S0cRO3QNm8SKPNexy4s3OCim9fABUtO++nJMtcpWbINWjMSzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet">

    </head>
    <body class="font-mono">
        <div id="canvas"
            class="-top-5 -left-5 -z-10 fixed w-[calc(100vw+50px)] h-[calc(100vh+50px)] overflow-hidden"></div>
        <div
            class="flex flex-col h-screen overflow-auto">
            <!-- <div class="bg-secondary w-full h-[64px]" id="nav"></div> -->
            {% include 'navbar.html' %}
            <div
                class="flex items-center justify-center flex-grow overflow-y-auto rounded-t-lg">
                <!-- CONTENT -->
                <div
                    class="relative flex flex-col items-center justify-center rounded-xl">
                    <p
                        class="text-text lg:text-[80px] text-5xl text-center">
                        Welcome to the
                        start of your coding
                        journey
                    </p>
                    <a href="{{url_for('lessons')}}" id="start-learning-button"
                        class="z-10 relative bg-[#e88f36] mt-8 lg:mt-24 rounded-full outline outline-4 outline-secondary hover:outline-white">
                        <button
                            class="mx-20 my-5 text-3xl text-black lg:text-6xl">
                            Start learning
                        </button>
                    </a>

                    <!-- <div class="relative">
                        <p
                            class="text-2xl mt-7 text-text lg:text-4xl">
                            Easiest
                            way
                            to start coding.</p>
                    </div> -->
                </div>
            </div>
        </div>
        <script
            src="{{ url_for('static', filename='js/homepage.js') }}"></script>
        <script
            src="{{ url_for('static', filename='js/shader.js') }}"></script>
    </body>
</html>