<html class="default">
    <head>
        {% include 'meta.html' %}
        <title>FourCode</title>
        <script src="{{ url_for('static', filename='js/learn.js') }}"
            type="module"></script>
        <link href="{{url_for('static',filename='css/main.css')}}"
            rel="stylesheet" />
        <link
            href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}"
            rel="stylesheet" />
        <script
            src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
        <script
            src="{{ url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='codemirror/theme/monokai.css') }}" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet">
        <style>
			.CodeMirror {
				background-color: #1d2d44 !important;
			}
			.CodeMirror-gutters {
				background-color: #1d2d44 !important;
				border-right: 1px solid #374151 !important;
			}
			.CodeMirror {
				font-size: 24px;
				font-family: monospace;
			}
			.error-highlight {
				background-color: #ff0000;
				color: #000000;
			}
            .cm-scroller {
                /* Firefox */
                scrollbar-width: thin;
                scrollbar-color: white transparent;
            }

            /* WebKit browsers */
            .cm-scroller::-webkit-scrollbar {
                width: 8px;
            }

            .cm-scroller::-webkit-scrollbar-track {
                background: transparent;
            }

            .cm-scroller::-webkit-scrollbar-thumb {
                background-color: white;
                border-radius: 4px;
            }
		</style>
    </head>
    <body>
        <div
            class="relative flex flex-col h-screen overflow-auto bg-nav">
            {% include 'navbar.html' %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert {{ category }} text-text">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div
                class="flex-grow flex-shrink-0 bg-gray-300 rounded-t-lg lg:max-h-[calc(100vh-64px)] overflow-y-auto">
                <div
                    class="relative flex flex-col h-full lg:flex-row">

                    <!-- input and output -->
                    <div id="Input-and-Output"
                        class="flex flex-col flex-shrink-0 order-3 w-full h-auto px-2 py-0 pb-2 lg:order-1 lg:px-0 lg:py-2 lg:pl-2 lg:w-1/2">
                        <!-- Input -->
                        <div id="Input"
                            class="flex flex-col flex-shrink-0 bg-secondary mt-2 lg:mt-0 lg:h-[calc(100vh-64px-50%)] rounded-lg h-[600px]">
                            <p
                                class="py-1 pl-1 font-medium text-text">Code</p>
                            <div
                                class="h-full max-h-full mx-2 mt-1 overflow-hidden rounded-lg">
                                <textarea
                                    id="code-editor"
                                    class="w-full h-full bg-primary"></textarea>
                            </div>
                            <div class="flex justify-end p-2">
                                <button
                                    name="run-button"
                                    class="px-6 py-1 font-medium text-black rounded-lg bg-button hover:outline outline-1 outline-white">
                                    Run
                                </button>
                            </div>
                        </div>
                        <div name="resize-bar" link1="Input" link2="Output"
                            direction="vertical"
                            class="items-center justify-center hidden w-full h-2 lg:flex cursor-row-resize">
                            <img class="scale-[2]" draggable="false"
                                src="{{ url_for('static', filename='images/horizontal_bar.svg') }}">
                        </div>
                        <!-- Output -->
                        <div id="Output"
                            class="flex flex-col flex-1 min-h-0 mt-2 rounded-lg bg-secondary lg:mt-0">
                            <p class="pt-1 pl-1 text-text">Output</p>
                            <div id="output"
                                class="bg-primary m-2 scrollbar-thumb-white px-2 lg:h-[calc(100vh-64px-50%)] pt-1 rounded-lg h-[400px] overflow-y-auto font-mono text-text lg:text-lg text-2xl break-words whitespace-pre-wrap scrollbar scrollbar-track-transparent"></div>
                        </div>
                    </div>
                    <div name="resize-bar" link1="Input-and-Output"
                        link2="Lesson" direction="horizontal"
                        class="items-center justify-center order-2 hidden w-2 h-full lg:flex cursor-col-resize">
                        <img class="scale-[6] translate-y-5"
                            draggable="false"
                            src="{{ url_for('static', filename='images/vertical_bar.svg') }}">
                    </div>
                    <!-- lesson -->
                    <div id="Lesson"
                        class="flex-none lg:flex-1 gap-2 order-1 lg:order-3 px-2 lg:px-0 py-0 lg:py-2 pt-2 lg:pr-2 lg:h-auto max-h-[1500px]">
                        <!-- Lesson -->
                        <div
                            class="flex flex-col bg-secondary rounded-lg h-full max-h-screen lg:max-h-[calc(100vh-64px)]">
                            <p class="pt-1 pl-2 text-lg text-text">Lesson</p>
                            <div
                                class="flex-1 px-2 pt-1 mx-2 mt-2 overflow-y-auto prose prose-xl whitespace-pre-wrap rounded-lg bg-primary prose-h1:m-0 prose-h2:m-0 prose-p:m-0 scrollbar-thumb-white max-w-none text-text prose-h1:text-text prose-h2:text-text scrollbar scrollbar-track-transparent">{{
                                content | safe }}
                            </div>
                            <nav class="flex justify-between my-2">
                                <a
                                    href="{{ url_for('learn', lesson_index=lesson_index-1) }}"
                                    class="{{ 'invisible' if lesson_index <= 0 else '' }}">
                                    <button
                                        class="mx-2 px-6 py-1 bg-button text-black rounded-lg hover:outline outline-1 outline-white {{ 'invisible' if lesson_index <= 0 else '' }}">
                                        Previous
                                    </button>
                                </a>
                                <a
                                    href="{{ url_for('learn', lesson_index=lesson_index+1) }} "
                                    class="{{ 'invisible' if lesson_index >= total_lessons - 1 else '' }}">
                                    <button
                                        class="mx-2 px-6 py-1 bg-button text-black rounded-lg hover:outline outline-1 outline-white {{ 'invisible' if lesson_index >= total_lessons - 1 else '' }}">
                                        Next
                                    </button>
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>