<!doctype html>
<html lang="en" class="default">
    <head>
        {% include 'meta.html' %}
        <title>FourCode</title>
        <link
            href="{{url_for('static',filename='css/main.css')}}"
            rel="stylesheet" />
        <script
            src="{{url_for('static',filename='js/shader.js')}}"
            defer></script>
        <script src="{{ url_for('static', filename='js/login.js') }}"
            defer></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.2/p5.min.js"
            integrity="sha512-1YMgn4j8cIL91s14ByDGmHtBU6+F8bWOMcF47S0cRO3QNm8SKPNexy4s3OCim9fABUtO++nJMtcpWbINWjMSzQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet" />
    </head>
    <body>
        <div
            id="canvas"
            class="-top-5 -left-5 -z-10 fixed w-[calc(100vw+50px)] h-[calc(100vh+50px)] overflow-hidden"></div>
        <div class="flex flex-col h-screen overflow-auto">
            {% include 'navbar.html' %}
            <div class="flex-grow rounded-t-lg overflow-y-auto">
                <!-- CONTENT -->
                <div class="flex justify-center items-center w-full h-full">
                    <form
                        name="Login" method="POST"
                        class="flex flex-col justify-center items-center gap-4 bg-background px-14 pt-4 pb-8 rounded-lg outline outline-4 outline-black">
                        <p
                            class="font-mono font-bold text-black text-4xl">Login</p>
                        <input
                            type="text"
                            name="username"
                            placeholder="Username"
                            autocomplete="username"
                            autofocus
                            class="bg-secondary px-2 py-1 focus:border-transparent rounded-lg focus:outline-none focus:ring-4 focus:ring-button font-mono text-text text-xl" />
                        <div class="relative w-full">
                            <input
                                type="password"
                                name="password"
                                placeholder="Password"
                                autocomplete="current-password"
                                class="bg-secondary px-2 py-1 rounded-lg focus:outline-none focus:ring-4 focus:ring-button w-full font-mono text-text text-xl" />
                            <button id="togglePassword" type="button"
                                class="top-1/2 right-3 absolute -translate-y-1/2 transform">
                                <!-- <div
                                    class="absolute hover:bg-white opacity-50 rounded-full w-9 h-9 transition-colors -translate-x-1.5 -translate-y-1.5 duration-300 transform"></div> -->
                                <img
                                    src="{{ url_for('static', filename='images/eye-off.svg') }}"
                                    alt="Hide" class="hidden w-6 h-6"
                                    id="eye-off">
                                <img
                                    src="{{ url_for('static', filename='images/eye.svg') }}"
                                    alt="Show" class="w-6 h-6" id="eye">
                            </button>
                        </div>
                        <button
                            id="login-button"
                            type="submit"
                            class="bg-button px-6 py-1 rounded-lg hover:ring-4 hover:ring-black font-mono font-bold text-black text-xl hover:underline">
                            Confirm
                        </button>
                        {% with messages =
                        get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert {{ category }} text-red-600">{{
                            message
                            }}</div>
                        {% endfor %} {% endif %} {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
