<div class=" w-full h-[64px] min-h-[64px]"></div>
<nav
    class="fixed z-50 flex flex-shrink-0 justify-between items-center w-full h-[64px] min-h-[64px] bg-secondary">
    <!-- Logo -->
    <a href="/" class="flex flex-row items-center pl-2.5 h-full">
        <p class="font-mono text-3xl text-blue-400 lg:text-4xl">[</p>
        <p class="font-mono text-3xl text-white lg:text-4xl"
            id="brandName">FourCode</p>
        <p class="font-mono text-3xl text-blue-400 lg:text-4xl">]</p>
    </a>

    <!-- Deskleft Navbar -->
    <div class="items-center hidden pr-4 space-x-6 font-mono lg:flex">
        <a href="/" class="text-text hover:underline">Home</a>
        <a href="{{url_for('lessons')}}"
            class="text-text hover:underline">Learn</a>
        <a href="{{url_for('playground')}}"
            class="text-text hover:underline">Playground</a>
        <a href="{{url_for('about')}}"
            class="text-text hover:underline">About</a>
        {% if 'user_id' in session %}
        <a href="{{url_for('user')}}"
            class="text-text hover:underline">Profile</a>
        {% else %}
        <a href="{{url_for('login')}}"
            class="text-text hover:underline">Login</a>
        <a href="{{url_for('signup')}}"
            class="px-4 py-2 rounded-lg text-text hover:underline bg-primary">Sign
            Up</a>
        {% endif %}
        <!-- <a href="{{url_for('test')}}" class="text-text hover:underline">Test</a> -->
    </div>

    <!-- Hamburger Button -->
    <button id="menu-btn" class="lg:hidden p-4 pr-6 scale-[1.5]">
        <img src="{{url_for('static', filename='images/menu.svg')}}" alt="menu">
    </button>
</nav>

<!-- Mobile Menu (Hidden by Default) -->
<div id="mobile-menu"
    class="lg:hidden -top-[200%] z-20 fixed flex justify-end bg-secondary bg-opacity-[0.99] w-full h-screen transition-all duration-300 ease-in-out">
    <div
        class="flex flex-col items-center justify-start w-full font-mono rounded-b-lg shadow-lg">
        <div class="flex-shrink-0 bg-gray-500 w-full h-[2px]"></div>
        <a href="/"
            class="flex items-center justify-center w-full py-6">
            <p
                class="font-mono text-2xl opacity-100 text-text hover:underline">Home</p>
        </a>
        <div class="flex-shrink-0 bg-gray-500 w-full h-[2px]"></div>
        <a href="{{url_for('lessons')}}"
            class="flex items-center justify-center w-full py-6">
            <p
                class="font-mono text-2xl opacity-100 text-text hover:underline">Learn</p>
        </a>
        <div class="flex-shrink-0 bg-gray-500 w-full h-[2px]"></div>
        <a href="{{url_for('playground')}}"
            class="flex items-center justify-center w-full py-6">
            <p
                class="font-mono text-2xl opacity-100 text-text hover:underline">Playground</p>
        </a>
        <div class="flex-shrink-0 bg-gray-500 w-full h-[2px]"></div>
        <a href="{{url_for('about')}}"
            class="flex items-center justify-center w-full py-6">
            <p
                class="font-mono text-2xl opacity-100 text-text hover:underline">About</p>
        </a>
        <div class="flex-shrink-0 bg-gray-500 w-full h-[2px]"></div>
        {% if 'user_id' in session %}
        <a href="{{url_for('user')}}"
            class="flex items-center justify-center w-full py-6">
            <p
                class="font-mono text-2xl opacity-100 text-text hover:underline">Profile</p>
        </a>
        {% else %}
        <a href="{{url_for('login')}}"
            class="flex items-center justify-center w-full py-6">
            <p
                class="font-mono text-2xl opacity-100 text-text hover:underline">Login</p>
        </a>
        <div class="flex-shrink-0 bg-gray-500 w-full h-[2px]"></div>
        <a href="{{url_for('signup')}}"
            class="flex items-center justify-center w-full py-6">
            <p
                class="font-mono text-2xl opacity-100 text-text hover:underline">Create
                Account</p>
        </a>
        {% endif %}
        <div class="flex-shrink-0 bg-gray-500 w-full h-[2px]"></div>
        <!-- <div
            class="flex items-center justify-center w-full h-full py-6 outline outline-1 outline-gray-500">
            <a href="{{url_for('test')}}"
                class="text-2xl opacity-100 text-text hover:underline">Test</a>
        </div> -->
    </div>
</div>

<script>
    const menuBtn = document.getElementById('menu-btn');
    const mobileMenu = document.getElementById('mobile-menu');

    menuBtn.addEventListener('click', () => {
        if (mobileMenu.classList.contains('-top-[200%]')) {
            mobileMenu.classList.remove('-top-[200%]');
            mobileMenu.classList.add('top-[64px]');
        } else {
            mobileMenu.classList.remove('top-[64px]');
            mobileMenu.classList.add('-top-[200%]');
        }
    });

    // #region intro
    alphabets = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
    alphabets = alphabets.split('')
    const brandElement = document.getElementById("brandName");

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function intro1() {
        let timeBetweenChange = -20
        for (let i = 0; i < 10; i++) {
            setBrandName(getRandomTextOfLength(8))
            await sleep(timeBetweenChange)
            timeBetweenChange += 3
        }
        timeBetweenChange += 20
        setBrandName(getRandomTextOfLength(8))
        await sleep(timeBetweenChange)
        setBrandName("FourCode")
    }

    async function intro2() {
        const word = "FourCode";
        let curLetterIndex = Math.floor(word.length / 2);
        let brandElement = document.getElementById("brandName");
        brandElement.textContent = ""
        for (let i = 0; i < word.length / 2; i++) {
            let timeBetweenChange = 0;

            updateBrandName(getRandomText(1) + brandElement.innerText + getRandomText(1));
            for (let j = 0; j < 10; j++) {
                updateBrandName(" " + brandElement.innerText.slice(1, -1) + " ");
                updateBrandName(getRandomText(1) + brandElement.innerText + getRandomText(1));
                await sleep(timeBetweenChange);
                timeBetweenChange += 1;
            }

            timeBetweenChange += 20;
            await sleep(timeBetweenChange);
            updateBrandName(" " + brandElement.innerText.slice(1, -1) + " ");
            updateBrandName(word[word.length / 2 - 1 - i] + brandElement.innerText + word[curLetterIndex]);

            curLetterIndex += 1;
        }
    }

    async function intro3() {
        const word = "FourCode";
        let brandElement = document.getElementById("brandName");
        brandElement.innerText = ""
        let time = 1.0 * 1000

        for (let i = 0; i < word.length; i++) {
            updateBrandName(brandElement.innerText + getRandomText(1))
            for (let j = 0; j < 10; j++) {
                updateBrandName(brandElement.innerText.slice(0, -1))
                updateBrandName(brandElement.innerText + getRandomText(1))
                await sleep(time / 10 / word.length)
            }
            updateBrandName(brandElement.innerText.slice(0, -1))
            updateBrandName(brandElement.innerText + word[i])
        }
    }
    
    let isInAnimation = false
    async function intro4() {
        isInAnimation = true
        const word = "FourCode";
        brandElement.innerText = ""
        const time = 1.0 * 1000
        const noOfRandLetters = 3
        for (let i = 0; i < word.length; i++) {
            updateBrandName(brandElement.innerText + getRandomText(word.length - i))
            for (let j = 0; j < noOfRandLetters; j++) {
                updateBrandName(brandElement.innerText.slice(0, i))
                updateBrandName(brandElement.innerText + getRandomText(word.length - i))
                await sleep(time / noOfRandLetters / word.length)
            }
            updateBrandName(brandElement.innerText.slice(0, i))
            updateBrandName(brandElement.innerText + word[i])
        }
        isInAnimation = false
    }

    function updateBrandName(text) {
        document.getElementById("brandName").innerText = text;
    }

    function getRandomText(length) {
        return Array.from({ length }, () => alphabets[Math.floor(Math.random() * alphabets.length)]).join("");
    }

    window.addEventListener("load", (event) => {intro4()});

    brandElement.parentElement.addEventListener("mouseenter", () => {
        if(!isInAnimation)intro4()
    })
    // #endregion
</script>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert {{ category }} text-text">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}