<!doctype html>
<html lang="en" class="default">
    <head>
        {% include 'meta.html' %}
        <title>FourCode</title>
        <link
            href="{{url_for('static',filename='css/main.css')}}"
            rel="stylesheet" />
        <script
            src="{{url_for('static',filename='js/shader.js')}}"
            defer></script>
        <script src="{{ url_for('static', filename='js/login.js') }}"
            defer></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.2/p5.min.js"
            integrity="sha512-1YMgn4j8cIL91s14ByDGmHtBU6+F8bWOMcF47S0cRO3QNm8SKPNexy4s3OCim9fABUtO++nJMtcpWbINWjMSzQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet" />
    </head>
    <body>
        <div
            id="canvas"
            class="-top-5 -left-5 -z-10 fixed w-[calc(100vw+50px)] h-[calc(100vh+50px)] overflow-hidden"></div>
        <div class="flex flex-col h-screen overflow-auto">
            {% include 'navbar.html' %}
            <div class="flex-grow overflow-y-auto rounded-t-lg">
                <!-- CONTENT -->
                <div class="flex items-center justify-center w-full h-full">
                    <form
                        name="Login" method="POST"
                        class="flex flex-col items-center justify-center gap-4 pt-4 pb-8 rounded-lg bg-background px-14 outline outline-4 outline-black">
                        <p
                            class="font-mono text-4xl font-bold text-black">Sign
                            Up</p>
                        <input
                            type="text"
                            name="username"
                            placeholder="Username"
                            autocomplete="username"
                            value="{{username}}"
                            required
                            autofocus
                            class="px-2 py-1 font-mono text-xl rounded-lg bg-secondary focus:border-transparent focus:outline-none focus:ring-4 focus:ring-button text-text" />
                        <div class="relative">
                            <input
                                type="password"
                                id="password"
                                placeholder="Password"
                                autocomplete="current-password"
                                required
                                class="w-full px-2 py-1 font-mono text-xl rounded-lg bg-secondary focus:outline-none focus:ring-4 focus:ring-button text-text" />
                            <button name="togglePassword" type="button"
                                link="password"
                                class="absolute -translate-y-1/2 top-1/2 right-3">
                                <!-- <div
                                    class="absolute hover:bg-white opacity-50 rounded-full w-9 h-9 transition-colors -translate-x-1.5 -translate-y-1.5 duration-300 transform"></div> -->
                                <img
                                    src="{{ url_for('static', filename='images/eye-off.svg') }}"
                                    alt="Hide" class="w-6 h-6" id="eye-off">
                                <img
                                    src="{{ url_for('static', filename='images/eye.svg') }}"
                                    alt="Show" class="hidden w-6 h-6" id="eye">
                            </button>
                        </div>
                        <div class="relative">
                            <input
                                type="password"
                                id="confirm-password"
                                placeholder="Confirm Password"
                                required
                                class="w-full px-2 py-1 font-mono text-xl rounded-lg bg-secondary focus:outline-none focus:ring-4 focus:ring-button text-text" />
                            <button name="togglePassword" type="button"
                                link="confirm-password"
                                class="absolute -translate-y-1/2 top-1/2 right-3">
                                <!-- <div
                                    class="absolute hover:bg-white opacity-50 rounded-full w-9 h-9 transition-colors -translate-x-1.5 -translate-y-1.5 duration-300 transform"></div> -->
                                <img
                                    src="{{ url_for('static', filename='images/eye-off.svg') }}"
                                    alt="Hide" class="w-6 h-6" id="eye-off">
                                <img
                                    src="{{ url_for('static', filename='images/eye.svg') }}"
                                    alt="Show" class="hidden w-6 h-6" id="eye">
                            </button>
                        </div>
                        <div
                            class="flex flex-col items-center justify-center gap-2">
                            <button
                                type="submit"
                                class="px-6 py-1 font-mono text-xl font-bold text-black rounded-lg w-min bg-button hover:ring-4 hover:ring-black hover:underline">
                                Confirm
                            </button>
                            <a
                                href="{{url_for('login')}}"
                                class="px-6 py-1 font-mono text-lg font-bold text-black">
                                Already have an account? Click here
                            </a>
                        </div>
                        {% with messages =
                        get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert {{ category }} text-red-600">{{
                            message
                            }}</div>
                        {% endfor %} {% endif %} {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
