<!DOCTYPE html>
<html lang="en" class="default">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FourCode</title>
        <script src="{{ url_for('static', filename='js/test.js') }}"
            type="module"></script>
        <link href="{{url_for('static',filename='css/main.css')}}"
            rel="stylesheet" />
    </head>
    <body>
        <div
            class="flex flex-col bg-secondary h-screen overflow-auto">
            {% include 'navbar.html' %}
            <div
                class="flex flex-grow justify-center items-center bg-background rounded-t-lg overflow-y-auto">
                <!-- CONTENT -->
                <div
                    class="p-14 transition-all animate-bounce duration-200">
                    <button id="test-button"
                        class="bg-button px-10 py-4 rounded-full outline outline-2 text-7xl">CLICK
                        TO
                        TEST</button>
                </div>
            </div>
        </div>
    </body>
</html>